.main-header{
    background: -webkit-gradient(linear, 0%, 0%, 0%, 100% from(#000000), to(#0d47a1));/*Safari 4-5, Chrome 1-9*/
    background: -moz-linear-gradient(left, #000000,  #0d47a1);/*Firefox 3.6+*/
    background: -ms-linear-gradient(left, #000000,  #0d47a1);/*IE 10*/
    background: -o-linear-gradient(left, #000000,  #0d47a1);/*Opera 11.10+*/
    background: -webkit-linear-gradient(left, #000000,  #0d47a1);
    border-radius: 0;
    margin-bottom: 0;
    border: 0;
}
.jd-brand{
    padding-right: 30px;
}
.jd-brand > a{
    font-size: 30px; color: dodgerblue; font-weight: bold;
}
.jd-brand > a > .right{
    font-size: 30px; color: lime; font-weight: bold;
}
.jd-header-right{

}
.jd-header-right > li > .general{
    color: #FFF;
}
.jd-header-right > li > .login-register{
    color: dodgerblue;
}
.jd-header-right > li > .logout{
    color: dodgerblue;
}
.jd-cursor{
    cursor: pointer;
}
