<div class="col-md-11 main-content">
    <div class="row">
        <div class="col-md-6">
            <div class="jd-page-header">Cell Groups List</div>
        </div>
        <div class="col-md-6 text-right">
            <a routerLink="/membership"><i class="fa fa-chevron-circle-left fa-2x"></i></a>
            <a routerLink="cell-group-dashboard"><i class="fa fa-bar-chart fa-2x"></i></a>
            <a ng-click="open()"><i class="fa fa-plus-circle fa-2x"></i></a>
        </div>
    </div>
</div>
