<div class="col-md-11 main-content">
    <div class="row">
        <div class="col-md-6">
            <div class="jd-page-header">Membership</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a routerLink="/individuals" class="btn btn-success btn-block btn-lg">Members</a>
        </div>
        <div class="col-md-3">
            <a routerLink="/cell-groups" class="btn btn-info btn-block btn-lg">Cell Groups</a>
        </div>
        <div class="col-md-3">
            <a routerLink="/families" class="btn btn-warning btn-block btn-lg">Families</a>
        </div>
        <div class="col-md-3">
            <a routerLink="/zones" class="btn btn-danger btn-block btn-lg">Zones</a>
        </div>
    </div>
</div>
